body{
background-color: bisque;

}

.main{
    background-color: rgb(245, 247, 246);
    padding: 50px;
    width: 60%;
    height: 650px;
    border-radius: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 70px;
    position: relative;
    box-shadow: 0 4px 8px rgb(0, 0,0 ,0.2);

}

.image{
position: relative;
left: 40px;
top:-20px ;

}


.para{
    font-size: 16px;
    font-weight: bold;
    left: 70px;
    bottom: 62px;
    position: relative;
}

.btn{
    background: rgb(255,69,129);
    background: linear-gradient(329deg, rgba(255,69,129,1) 33%, rgba(255,181,43,1) 89%);
    color: white;
    border: none;
    font-size: 10px;
    border-radius: 20px;
    position: relative;
    left: 130px;
    bottom: 95px;
    padding: 5px;
}

ol li{
    display: inline;
   margin-left: 30px;
   font-family: sans-serif;
   color: rgb(184, 179, 179);
   font-size: 13px;
   position: relative;
   bottom:130px;
   left: 290px;

}






.join{
    background-color: rgb(58, 60, 233);
    padding: 10px;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    box-shadow: 0 4px 8px rgba(2, 4, 105, 0.2);
    font-size: 13px;
    bottom: 200px;
  position: relative;
  left: 900px;}

    .sign{
        font-family: sans-serif;
        margin-left: 30px;
        font-family: sans-serif;
        color: rgb(131, 122, 122);
        font-size: 13px;
        bottom: 160px;
       position: relative;
        left: 800px;
    }
    

    .handing{
        position: relative;
        bottom: 100px;
        left: 30px;
    }
    .one{
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
    }


    .two{
        color: rgb(131, 122, 122);
        font-family: sans-serif;
        font-size: 12px;
        margin-top: -10px;
      

    }

    img{
        position: relative;
        left: 600px;
        bottom: 350px;
      

    }

   .email{
    position: relative;
    bottom: 10px;
    
    left: 30px;
    height: 40px;
    border: none;

    }
    .blue{

        background-color: rgb(58, 60, 233);
        padding: 10px;
        color: white;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        box-shadow: 0 4px 8px rgba(2, 4, 105, 0.2);
        font-size: 13px;
        bottom: 10px;
        position: relative;
        left: 50px;
    
    


    }

   